label {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
}

button {
  margin-top: 1.5rem;
}

.question {
  margin-top: 1.5rem;
}

.invisible {
  display: none;
}
